@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.parceiros-assinatura{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 96%;
    margin-top: 100px;
}

.parceiros-assinatura .article-parceiros{
    width: 574px;
    height: 350px;
    border-radius: 20px;
}

.parceiros-assinatura .article-parceiros .item{
    width: 574px;
    height: 350px;
    border-radius: 20px;
}

.parceiros-assinatura .article-parceiros .item img{
    border-radius: 20px;
}

.parceiros-assinatura .article-parceiros .item-text{
    width: 300px;
    height: 250px;
    position: absolute;
    margin-left: 45px;
    margin-top: 115px;
}

.parceiros-assinatura .article-parceiros .item-text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 10px;
    color: #FFFFFF;
}

.parceiros-assinatura .article-parceiros .item-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.parceiros-assinatura .article-parceiros .item-text button{
    width: 131px;
    height: 48px;
    background: #FBB900;
    border: 1px solid #F0D075;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

/*------------------------------------------------------------------*/

.parceiros-assinatura .article-assinatura{
    width: 630px;
    height: 350px;
    background: #FEF6E7;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.parceiros-assinatura .article-assinatura .item-text{
    width: 300px;
    height: 250px;
    margin-left: 45px;
    margin-top: 30px;
}

.parceiros-assinatura .article-assinatura .item-text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #4D4D4D;
}

.parceiros-assinatura .article-assinatura .item-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
}

.parceiros-assinatura .article-assinatura .item-text button{
    width: 156px;
    height: 48px;
    background: #FBB900;
    border: 1px solid #F0D075;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.parceiros-assinatura .article-assinatura .item-img{
    width: 241px;
    height: 375px;
    margin-left: auto;
    margin-top: -25px;
}